.footercss{
    position: fixed;
    bottom: 0;
    text-align: center;
    align-content: center;
    width: 100%;
    font-size: medium;
    font-style: italic;
    background: rgba(57, 10, 100, 0.911);
    margin: 0;
    color: azure;
}